<div style="text-align: center">
    <h1 class="post-title" style="text-align: center">My Projects</h1>
    <table style="text-align: center">
        <tr>
            <td>
                <h1>Jump Jump Dash</h1>
                <img src="/assets/images/JumpJumpDash.webp"/>
                <a href='https://play.google.com/store/apps/details?id=com.gamesbynilo.jumpjumpdash&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="width: 200px"/>
                </a>
            </td>
            <td>
                <h1>Number Fill In</h1>
                <img src="/assets/images/NumberFillIn.webp"/>
                <a href='https://play.google.com/store/apps/details?id=com.gamesbynilo.numberfillin&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="width: 200px"/>
                </a>
            </td>
        </tr>
    </table>
</div>